.container {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.close-icon {
  position: absolute;
  top: 14px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.mat-dialog-actions {
  margin-top: 16px;
}

::ng-deep .mat-mdc-autocomplete-panel  {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 4px;

    
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}
