.container {
  padding: 20px 20px 10px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.mat-dialog-actions{
  margin-top: 16px;
}
